@page "/"
@using System.Text.Json
@using DarkWind.Client.Hubs
@using XtermBlazor
@inject TelnetHub Hub
@inject IJSRuntime _js

<PageTitle>DarkWind Web Client</PageTitle>

<Xterm
    @ref="_terminal"
    Options="_options"
    OnFirstRender="@OnFirstRender"
/>
<form @onsubmit="SendCommand" class="m-1">
    <div class="input-group mb-3 w-100">
        <input id="input" @bind="_input" type="text" class="form-control" placeholder="Send command" aria-label="Send command" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Send</button>
    </div>
</form>

@code {
    private Xterm? _terminal;
    private string _input = String.Empty;

    private TerminalOptions _options = new TerminalOptions
    {
        Rows = 30,
        CursorStyle = CursorStyle.Bar
    };

    private CancellationTokenSource cts = new CancellationTokenSource();

    private async Task OnFirstRender()
    {
        await Hub.Start();

        var channel = await Hub.Connect(CancellationToken.None);

        await _js.InvokeVoidAsync("selectText", "input");

        while (await channel.WaitToReadAsync())
        {
            while (channel.TryRead(out var data))
            {
                await _terminal!.Write(data);
            }
        }
    }

    private async Task SendCommand()
    {
        if (String.IsNullOrEmpty(_input))
            return;

        await Hub.Send(_input + '\r');
        await _terminal!.Write(_input + "\r\n");
        await _js.InvokeVoidAsync("selectText", "input");
    }
}

