@page "/"
@using System.Text.Json
@using DarkWind.Client.Hubs
@using DarkWind.Shared
@using System.Text.Json.Nodes
@using XtermBlazor
@inject TelnetHub Hub
@inject IJSRuntime _js

<PageTitle>DarkWind Web Client</PageTitle>

<Xterm
    @ref="_terminal"
    Options="_options"
    OnFirstRender="@OnFirstRender"
/>

<div>HP: @health / @maxHealth</div>

<form @onsubmit="SendCommand" class="m-1">
    <div class="input-group mb-3 w-100">
        <input id="input" @bind="_input" type="text" class="form-control" placeholder="Send command" aria-label="Send command" aria-describedby="button-addon2" autocomplete="off" style="box-shadow:none;">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Send</button>
    </div>
</form>

<Xterm @ref="_gmcp" Options="_gmcpOptions" />

@code {
    private Xterm? _terminal;
    private Xterm? _gmcp;
    private string _input = String.Empty;
    int health = 0;
    int maxHealth = 0;
    private CancellationTokenSource cts = new CancellationTokenSource();

    private async Task HandleGmcpMessage(string command, string data) {
        switch (command)
        {
            case "Char.Vitals":
                var vitals = JsonSerializer.Deserialize<CharVitals>(data);
                if (vitals == null)
                    return;

                health      = vitals.Health;
                maxHealth   = vitals.MaxHealth;

                StateHasChanged();

                break;
        }
    }

    private async Task SendCommand(string command)
    {
        await Hub.Send(command + '\r');
        await _terminal!.Write(command + "\r\n");
        await _js.InvokeVoidAsync("selectText", "input");
    }

    private async Task SendGmcpCommand(string command)
    {
        if (String.IsNullOrEmpty(command)) return;

        await Hub.SendGmcp(command);
    }

    private Task SendCommand()
    {
        if (String.IsNullOrEmpty(_input)) return Task.CompletedTask;

        return SendCommand(_input);
    }

    private async Task OnFirstRender()
    {
        await _js.InvokeVoidAsync("selectText", "input");

        await Hub.Start();

        var channel = await Hub.Connect(cts.Token);

        while (await channel.WaitToReadAsync())
        {
            while (channel.TryRead(out var message))
            {
                if (message.Option == TelnetMessage.KnownOptions.Echo) 
                {
                    await _terminal!.Write(message.Data);    
                }
                else if (message.Option == TelnetMessage.KnownOptions.GMCP) 
                {
                    if (String.IsNullOrEmpty(message.Data)) continue;

                    await _gmcp!.WriteLine(message.Data);

                    var firstSpace  = message.Data.IndexOf(' ');
                    var command     = firstSpace > 0 ? message.Data.Substring(0, firstSpace) : message.Data;
                    var gmcpData    = firstSpace > 0 && message.Data.Length > firstSpace ? message.Data.Substring(firstSpace) : String.Empty;

                    try
                    {
                        await HandleGmcpMessage(command, gmcpData);
                    } 
                    catch (Exception ex) 
                    {
                        await _gmcp!.WriteLine("ERR: " + ex.Message);
                    }
                }
            }
        }
    }

    private TerminalOptions _options = new TerminalOptions
    {
        Rows = 30,
        CursorStyle = CursorStyle.Bar
    };

    private TerminalOptions _gmcpOptions = new TerminalOptions
    {
        Rows = 10,
        CursorStyle = CursorStyle.Bar
    };
}

