@page "/"
@using System.Text.Json
@using DarkWind.Client.Hubs
@using DarkWind.Shared
@using System.Text.Json.Nodes
@using XtermBlazor

<PageTitle>DarkWind Web Client</PageTitle>

<Xterm
    @ref="_terminal"
    Options="_options"
    OnFirstRender="@OnFirstRender"
/>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="p-2 text-center border-secondary">
                    HP: @health / @maxHealth
                <div class="fs-6 text-center text-white bg-success fw-bold" style="width:@healthPercent%">
                    @healthPercent%
                </div>            
            </div>
        </div>
        <div class="col">
            <div class="p-2 text-center border-secondary">
                SP: @spellpoints / @maxSpellpoints
                <div class="fs-6 text-center text-white bg-primary fw-bold" style="width:@magicPercent%">
                    @magicPercent%
                </div>            
            </div>         
        </div>
        <div class="col">
            <div class="p-2 text-center border-secondary">
                @enemyName
                <div class="fs-6 text-center text-white bg-warning fw-bold" style="width:@enemyHealthPercent%">
                    &nbsp;@enemyHealthDescription
                </div>            
            </div>            
        </div>            
    </div>    
</div>
<form @onsubmit="SendCommand">
    <div class="input-group mb-2 w-100">
        <input id="input" @bind="_input" type="text" class="form-control" placeholder="Send command" aria-label="Send command" aria-describedby="button-addon2" autocomplete="off" style="box-shadow:none;">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Send</button>
    </div>
</form>

<div class="container-fluid">
    <Xterm @ref="_gmcp" Options="_gmcpOptions" />
</div>



