@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <nav class="navbar-brand navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">DarkWind Web Client</a>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col">
            @Body
        </div>
    </div>
    <div class="row">
        <div class="col">
            <br/>
            <input type="text" class="form-control w-100" />
        </div>
    </div>
</div>
